.Menu {
  background-color: rgb(33, 33, 33) !important;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 41px;
  width: min(400px, 100%);
}

.Menu .MenuItem {
  height: 40px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(66, 66, 66);
}

.Menu .MenuItem .ms-Button {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  height: 41px;
  width: 100%;
}

.Menu .ms-Button:hover {
  background-color: rgb(66, 66, 66);
}

.Menu .ms-Button-label {
  text-align: left;
}
