.Menu {
  --width: min(400px, 100%);
  --width-half: calc(var(--width) / 2);
  --width-half-offset: calc(var(--width-half) + 44px);
  --width-neg: calc(var(--width-half-offset) * -1);
  background-color: rgb(33, 33, 33) !important;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: var(--width-neg);
  margin-bottom: 41px;
  width: var(--width);
}

.Menu .MenuItem {
  height: 40px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(66, 66, 66);
}

.Menu .MenuItem .ms-Button {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  height: 41px;
  width: 100%;
}

.Menu .ms-Button:hover {
  background-color: rgb(66, 66, 66);
}

.Menu .ms-Button-label {
  text-align: left;
}

@media (max-width: 488px) {
  .Menu {
    left: 0;
    margin-left: 0;
  }
}
