.App {
  background-color: #8c6239 !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App .AppContent{
  padding: 20px;
  overflow: auto;
}

.App .AppDock {
  background-color: rgb(40, 40, 40) !important;
}