.App .AppContent {
  background-color: #8c6239 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 41px;
}

.App .AppDock {
  background-color: #000 !important;
  position: absolute;
  height: 41;
  bottom: 0;
  left: 0;
  right: 0;
}
